{% load static %}
{% comment %} 3rd: Create a template to show the details of the todolist and a table of its to-do items {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_list_list' %}">{{ task.task }}</a></td>
                        <td>{{ task.due_date }}</td>
                    </tr>
                    {% comment %} 4th: Update the list template to show the number of to-do items for a to-do list {% endcomment %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
